[2019-12-31 22:16] weierophinney opened #1 "Update configuring-the-service-manager.md"
more suitable example

---

Originally posted by @wotent at https://github.com/zendframework/zend-servicemanager/pull/285

[2019-12-31 22:16] weierophinney opened #2 "Lowercase mikey179/vfsstream in composer.json"
Using uppercase characters is deprecated and it will error in Composer 2.0

- [x] Is this related to quality assurance?

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-servicemanager/pull/283

[2019-12-31 22:16] weierophinney opened #3 "Hotfix #279"
Fix issue #279

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/280

[2019-12-31 22:16] weierophinney commented on #3
@thomasvargiu —

- https://travis-ci.org/zendframework/zend-servicemanager/jobs/508580256#L881

Run `composer cs-fix`, commit, and push, please. :smile:

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/pull/280#issuecomment-474570764

[2019-12-31 22:16] weierophinney commented on #3
@weierophinney fixed it

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/280#issuecomment-474594250

[2019-12-31 22:16] weierophinney commented on #3
@thomasvargiu It looks like a hotfix, so I think you should target master here.

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-servicemanager/pull/280#issuecomment-508365639

[2019-12-31 22:16] weierophinney commented on #3
@webimpress I rewrite it on master base

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/280#issuecomment-508426501

[2019-12-31 22:16] weierophinney opened #4 "Bug with array_merge_recursive"
I'm trying to do something like this:

[code]

[code]

This will result on internal `lazy_services` property the following:

[code]

The problem is the use of `array_merge_recursive()` function in [this line](https://github.com/zendframework/zend-servicemanager/blob/a1ed6140d0d3ee803fec96582593ed024950067b/src/ServiceManager.php#L360).

Same problem with `delegators` property.

I found this issue

[2019-12-31 22:16] weierophinney opened #5 "Warmup lazy services"
Hi there!

I would like to generate all proxies before app deployment (like doctrine has `orm:generate-proxies`). Some host services (like Heroku) require to do this during "compile" process. Sure, generate on-demain works, but there is many cases when cache is purge.

---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/issues/278

[2019-12-31 22:16] weierophinney commented on #5
This is only currently possible by running through the instantiation of all services once, in a warmup script.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/issues/278#issuecomment-463541175

[2019-12-31 22:16] weierophinney commented on #5
So I need to write this script or it exists somewhere?

---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/issues/278#issuecomment-463545608

[2019-12-31 22:16] weierophinney commented on #5
You'll need to write a script, yup.

I think its contents would be something like `array_walk([$serviceManager,
'get'], $serviceManager->getDefinedServices())` or similar

On Thu, 14 Feb 2019, 09:55 Witold Wasiczko <notifications@github.com wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/issues/278#issuecomment-463546967

[2019-12-31 22:16] weierophinney commented on #5
Or:
[code]
where `services` is `lazy_services.class_map` keys.

Anyway ready script in package will be nice addon

---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/issues/278#issuecomment-463548685

[2019-12-31 22:17] weierophinney commented on #5
Don't think we should expand the API for an edge case, and adding a script
also requires knowing which instance of the ServiceManager you are
referring to.

In a zendframework/zend-mvc context, that may be any of the plugin
containers, for example.

On Thu, 14 Feb 2019, 10:06 Witold Wasiczko <notifications@github.com wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/z

[2019-12-31 22:17] weierophinney commented on #5
Or zf module ;)

---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/issues/278#issuecomment-463549835

[2019-12-31 22:17] weierophinney opened #6 "Added PHP 7.3 support"
Updated Travis CI configuration to run all tests on PHP 7.3 with lowest/locked/latest dependencies

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-servicemanager/pull/273

[2019-12-31 22:17] weierophinney commented on #6
@Ocramius, updated now. Not sure about the milestone 3.4.0 as develop now is 4.0:

[code]

Maybe I should change the target of that PR?

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-servicemanager/pull/273#issuecomment-429818255

[2019-12-31 22:17] weierophinney commented on #6
@webimpress I was working on 4.0 on `develop`, but it will likely happen in +1 year anyway, since PHP 7.4 will have the interesting stuff, while 7.3 is kinda dull :)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/273#issuecomment-429819690

[2019-12-31 22:17] weierophinney commented on #6
@Xerkus I forgot about this PR and just created new to `master`: #277

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-servicemanager/pull/273#issuecomment-448906471

[2019-12-31 22:17] weierophinney commented on #6
I think suggested `ocramius/proxy-manager` should be bumped to `^2.2.0`, along with dev dependency, and conflict changed to specific version of `"zendframework/zend-code": "3.3.0"` to reduce unintended impact

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-servicemanager/pull/273#issuecomment-488390794

[2019-12-31 22:17] weierophinney opened #7 "phpstan fixes"
This PR fixes some issues with phpdoc and types. Used phpstan to static analyse the code.

Added `phpstan` in CI build.

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/272

[2019-12-31 22:17] weierophinney commented on #7
I've added phpstan in CI build and fixed some wrong uses of `array_key_exists` with `ArrayObject`.

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/272#issuecomment-431324970

[2019-12-31 22:17] weierophinney commented on #7
@thomasvargiu I've just noticed that this targets `master`: can you change it to `develop`? Since it's an improvement, it needs to target the next minor or major.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/272#issuecomment-431342559

[2019-12-31 22:17] weierophinney commented on #7
Please rebase, don't merge :)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/272#issuecomment-431349333

[2019-12-31 22:17] weierophinney commented on #7
My fault, I'm still working on it

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/272#issuecomment-431349622

[2019-12-31 22:17] weierophinney commented on #7
@Ocramius
I have just one issue that I want to fix:

[code]

I think we should change PHPDoc of `$instance` parameter in `Zend\ServiceManager\PluginManagerInterface::validate()` from `object` to `mixed` because we know that `services` config key can contain anything.

But I'm not sure about this change. We can also ignore the error at the moment.

What do you think about it?

---

Originally poste

[2019-12-31 22:17] weierophinney commented on #7
Done.

It's not a problem, when I open it I though that it could be useful before to introduce strict type hints. We can merge other PRs and then rebase it.

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/272#issuecomment-448161661

[2019-12-31 22:17] weierophinney commented on #7
Rescheduling to 4.0.0 since it targets develop in turn targeting 4.0

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-servicemanager/pull/272#issuecomment-448929352

[2019-12-31 22:17] weierophinney commented on #7
@weierophinney I rebased it, updated phpstan, done some other fixes.

I also allowed `array` in the PluginManager `validate()` method.

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/pull/272#issuecomment-474592342

[2019-12-31 22:17] weierophinney opened #8 "Updated to PHPUnit 7"
On `develop` branch we are support only PHP 7.1+ so we can use PHPUnit 7 only.

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-servicemanager/pull/267

[2019-12-31 22:17] weierophinney commented on #8
We're still supporting PHP 5.6 in the v3 releases, so scheduling for 4.0.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/pull/267#issuecomment-448014077

[2019-12-31 22:17] weierophinney opened #9 "Little improvements"
---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/pull/266

[2019-12-31 22:17] weierophinney opened #10 "change call_user_func* with self invoked function"
- [x] Is this related to quality assurance?
As we already require php ^7.1 in develop branch

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-servicemanager/pull/265

[2019-12-31 22:17] weierophinney commented on #10
Scheduling for 4.0, as we support PHP 5.6 still in the 3.X series.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/pull/265#issuecomment-448013212

[2019-12-31 22:17] weierophinney opened #11 "Use null coalescing operator"
---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/pull/264

[2019-12-31 22:17] weierophinney commented on #11
Scheduled for 4.0, as we still support PHP 5.6 in the version 3 releases.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/pull/264#issuecomment-448013032

[2019-12-31 22:17] weierophinney opened #12 "remove redundant isset(s)"
when we are also testing with `! empty()` I believe we can skip `isset()` checks, as the execution speed is nearly the same (but it will double for positive isset)

---

Originally posted by @pine3ree at https://github.com/zendframework/zend-servicemanager/pull/262

[2019-12-31 22:17] weierophinney commented on #12
@pine3ree as this is an improvement, please target `develop`

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/262#issuecomment-370280536

[2019-12-31 22:17] weierophinney commented on #12
@pine3ree please attempt a rebase - don't merge upstream into your dev branches :)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/262#issuecomment-370363309

[2019-12-31 22:17] weierophinney commented on #12
@pine3ree ah, that's alright. If you are not familiar with the rebase process, I'll just do it on merge :-)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/262#issuecomment-370419760

[2019-12-31 22:17] weierophinney commented on #12
ok, thank You @Ocramius ! kind regards!

---

Originally posted by @pine3ree at https://github.com/zendframework/zend-servicemanager/pull/262#issuecomment-370420126

[2019-12-31 22:17] weierophinney commented on #12
@pine3ree just in case you've other conflicted branch in other/next Pull Request, I made blog post about rebase conflicted branch https://samsonasik.wordpress.com/2015/09/16/practical-git-4-rebasing-conflicted-task-branch-against-primary-branch/

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-servicemanager/pull/262#issuecomment-370637436

[2019-12-31 22:17] weierophinney commented on #12
@samsonasik
Thank You! that's very kind of You, sir! Regards!

---

Originally posted by @pine3ree at https://github.com/zendframework/zend-servicemanager/pull/262#issuecomment-370648122

[2019-12-31 22:17] weierophinney opened #13 "Detect cyclic dependency using reflection abstract factory"
This is a new feature whereby cyclic dependencies are detected in a bit of an edge case. Example illustrated here: https://gist.github.com/asgrim/72f3ee4c25b901ffed58501657ea98da

I've written the test which demonstrates what I'm trying to do, but the implementation I feel is really sub-par however. My plan to implement was simply to check if `$requestedName === $type` (i.e. the requested service

[2019-12-31 22:17] weierophinney commented on #13
@asgrim Is this still a WIP? I've scheduled for 3.4.0, but if it's not ready, I'll wait...

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/pull/261#issuecomment-448012189

[2019-12-31 22:17] weierophinney commented on #13
Given the hacky nature of this, I wouldn't merge it at all, to be honest...

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/261#issuecomment-448012579

[2019-12-31 22:17] weierophinney opened #14 "Add php 7.1 type hints"
---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/pull/247

[2019-12-31 22:17] weierophinney commented on #14
@snapshotpl this needs a rebase, sorry :-\

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/247#issuecomment-366471301

[2019-12-31 22:17] weierophinney commented on #14
@Ocramius done!

---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-servicemanager/pull/247#issuecomment-374408641

[2019-12-31 22:17] weierophinney opened #15 "Expected ConfigAbstractFactory configuration per service manager"
I find the new Config Abstract Factory very handy. That saves a lot of typing. So thanks for that :clap:.

One thing that keeps bothering me however is that there seems to be only a single configuration array that determinates how services in all service manager are to be instantiated. You can mix plain services, controllers and view helpers!

IMO that:

* Introduces some possible problems if serv

[2019-12-31 22:17] weierophinney opened #16 "The DiAbstractServiceFactory causes recursion"
I'm using the `\Zend\ServiceManager\Di\DiAbstractServiceFactory` to initialize objects and resolve their dependencies. But I have an issue with recursion in the `\Zend\ServiceManager\ServiceManager::has`.

I've added the `\Zend\ServiceManager\Di\DiAbstractServiceFactory` (it's also not a trivial task because service manager calls `new` during abstract factory [initialization](https://github.com/ze

[2019-12-31 22:17] weierophinney opened #17 "LazyServiceFactory class_exists feature"
Hello, in the lazy_services configuration is a class_map array.
That array looks for most of my services like this:

[code]

For one Service i need a factories entry, a delegators entry and a class_map entry to the service_manager configuration.
Is it possible to add a class_exists option as "feature" to the LazyServiceFactory?

[code]

---

Originally posted by @tommyseus at https://github.com/ze

[2019-12-31 22:17] weierophinney commented on #17
To be honest, this could easily be the default settings, but the service manager provides no type guarantees, so it is quite risky to apply. Could you check if we could add return type hints to the lazy loafing proxy initializers?

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/issues/185#issuecomment-287291511

[2019-12-31 22:17] weierophinney opened #18 "Zend\ServiceManager\Factory\FactoryInterface does not use Psr\Container\ContainerInterface yet"
I want to make my factories to use `Psr\Container\ContainerInterface` in an `Zend\Expressive` project. But the `Zend\ServiceManager\Factory\FactoryInterface` does not use `Psr\Container\ContainerInterface` yet.

What are the plans about this?

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-servicemanager/issues/184

[2019-12-31 22:18] weierophinney commented on #18
[psr-11.md](https://github.com/zendframework/zend-servicemanager/blob/master/doc/book/psr-11.md) says this is coming in v4. Makes sense - it's a BC break - but an over-eager search-and-replace at work broke lots of stuff for me ;)

---

Originally posted by @kynx at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-285903010

[2019-12-31 22:18] weierophinney commented on #18
Ok, then I guess this should include a warning:

http://zendframework.github.io/zend-expressive/reference/migration/to-v2/#psr-11-support

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-285923823

[2019-12-31 22:18] weierophinney commented on #18
Added an issue for `Zend\Expressive` : zendframework/zend-expressive#466

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-285923921

[2019-12-31 22:18] weierophinney commented on #18
Note; probably an assumption (at least on my side) but I'd expect `DelegatorFactoryInterface` and `AbstractFactoryInterface` should be updated to use `Psr\Container\*` at the same time as this.

---

Originally posted by @asgrim at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-394658611

[2019-12-31 22:18] weierophinney commented on #18
Just a couple notes:

- We pin to a version of `container-interop` that _extends_ the official PSR-11 interfaces.
- zend-servicemanager v3 pins to container-interop, as it pre-dates the completion of PSR-11.
- zend-servicemanager allows arbitrary `callable`s for factories and delegators, so long as they have the minimum required arguments (a factory requires a container; delegators require a conta

[2019-12-31 22:18] weierophinney commented on #18
Encountered this as well when trying to use PHP-DI as a DIC. PHP-DI already uses PSR-11, while https://github.com/zendframework/zend-servicemanager/blob/release-2.7.11/src/AbstractPluginManager.php#L12 does not, causing an error.

This should do the trick, any plans for `v4` already? It seems the development branch is not yet migrated to using PSR-11...

https://github.com/zendframework/zend-servi

[2019-12-31 22:18] weierophinney commented on #18
@holtkamp if you need compatibility with libraries that still use Interop Container you can decorate your PSR container:

[code]

And register it as with a factory:

[code]

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-433970422

[2019-12-31 22:18] weierophinney commented on #18
Thanks for the suggestions, tried a bit and this seems not to work.

Apparently `Zend\Expressive\ZendView\HelperPluginManagerFactory::__construct()` already [adopted PSR-11](https://github.com/zendframework/zend-expressive-zendviewrenderer/blob/33e8c7d85048643cd73d5c9a19c436f9ef6faa5a/src/HelperPluginManagerFactory.php#L12) and therefore injects a `Psr\Container\ContainerInterface` instance, while

[2019-12-31 22:18] weierophinney commented on #18
Oh, you're right. I think the bug is [here](https://github.com/zendframework/zend-expressive-zendviewrenderer/blob/aebac3dea6a5ff6d1519449f204121ff05fa8df7/src/HelperPluginManagerFactory.php) Because `HelperPluginManagerFactory` is accepting a PSR container and injecting it to the `HelperPluginManager` which can accept only the Interop container.

So, you can use zend-view HelperPluginManager only

[2019-12-31 22:18] weierophinney commented on #18
You can add in the container an alias from interop container to Psr container without the need of decorator.

---

Originally posted by @elie29 at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-434039381

[2019-12-31 22:18] weierophinney commented on #18
@elie29 with PHP-DI 6.0 the container only implements the Psr container, while zend-view and other services (zend-hydrator for me) requires the interop container. Just an alias is not enough.

The decorator allowed me to use an interop container for factories that requires an interop container, but in this case I think is more a bug of `zend-expressive-zendviewrenderer` which its factory use a psr

[2019-12-31 22:18] weierophinney commented on #18
@thomasvargiu thanks for the effort and ideas!

@elie29 yeah, tried that in `dependencies.global.php` of the skeleton Zend Expressive application:
[code]

Hower it seems that `Zend\Expressive\ZendView\HelperPluginManagerFactory` is instantiated at the moment that the DI Container is being assembled / built by the DI ContainerBuilder => at that time the alias is not available yet...

What **did** f

[2019-12-31 22:18] weierophinney commented on #18
You can kick off the container in the front controller so it is ready before other dependencies. However, phpdi is Psr compliant but not interop. So we need to wait for zend service v4

---

Originally posted by @elie29 at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-434054548

[2019-12-31 22:18] weierophinney commented on #18
@elie29 indeed. Another option would be to add support for "PHP-DI wrapContainer functionality" in https://github.com/elie29/zend-di-config

However to me this seems like a waste of time 😄 . I am still in the orientation phase of adopting Zend Expressive with PHP-DI, so this is not a big issue for me. Will be patient 👍

---

Originally posted by @holtkamp at https://github.com/zendframework/zend-s

[2019-12-31 22:18] weierophinney commented on #18
@holtkamp I have been using zend expressive with twig and Json repsonse for almost 2 years. And I have no issues with php di v6

---

Originally posted by @elie29 at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-434057504

[2019-12-31 22:18] weierophinney commented on #18
@holtkamp PHP-DI 6.0 was released on February XD

The problem is when some factory requires an interop container (that extends psr container from v1.2), but if you use a non interop compatible container, you can't inject it to that factory.

So:
- you can use an interop container with a factory that requires a psr container (from v1.2)
- you can't use a psr container with a factory that requires a

[2019-12-31 22:18] weierophinney commented on #18
https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-434057504
Ok, I believe that, this only occurs wih ZendView.

https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-434060225
I understand the cause of the issue and I also understand the possible solutions. Since decorating the container did not succeed easily, for now my preferred solution is the

[2019-12-31 22:18] weierophinney commented on #18
The last release of [https://github.com/elie29/zend-di-config](https://github.com/elie29/zend-di-config) supports Interop Container in order to be used with zend view.

---

Originally posted by @elie29 at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-435353081

[2019-12-31 22:18] weierophinney commented on #18
So, 3 days ago the `container-interop` package was marked as abandonded (see https://github.com/container-interop/container-interop/issues/94 ). Will zend-servicemanager do this BC with allowing `PSR\Cotntainer\ContainerInterface` in `FactoryInterface`?

Please no *hack* or new library etc. Walkarounds are ot useful for a problem, which exists since more than 2 years.

---

Originally posted by @d

[2019-12-31 22:18] weierophinney commented on #18
What would you suggest as a (backward compatible) solution?

---

Originally posted by @holtkamp at https://github.com/zendframework/zend-servicemanager/issues/184#issuecomment-557470249

[2019-12-31 22:18] weierophinney commented on #18
@dpauli We will be doing a new _major_ release that targets the final specification; it has to be a major release, though, because it changes signatures for any code that extends our classes or implements our interfaces. (I mean, the actual _signature_ remains the same, it's the inheritance tree that changes, but PHP doesn't make a distinction there.)

This will not happen until we transition to L

[2019-12-31 22:18] weierophinney opened #19 "Dependency issue with test requirement"
This component ships a trait used by other components in tests.
Now with 07d53d35fdeb89ade8d6f72fe5ca2497f89b57f1 the tests have been upgraded to PHPUnit5 and tests of other components fails because they still using PHPUnit4.
E.g.: https://travis-ci.org/marc-mabe/zend-cache/jobs/203261654

The main problem is not to have a reusable trait for tests or the upgraded PHPUnit dependency but:
* The depe

[2019-12-31 22:18] weierophinney commented on #19
This is causing problems with Zend Validator too: https://travis-ci.org/zendframework/zend-validator

---

Originally posted by @akrabat at https://github.com/zendframework/zend-servicemanager/issues/182#issuecomment-282246974

[2019-12-31 22:18] weierophinney commented on #19
i also start working to update all modules, which i found, to work with the latest phpunit version.

---

Originally posted by @kokspflanze at https://github.com/zendframework/zend-servicemanager/issues/182#issuecomment-282288273

[2019-12-31 22:18] weierophinney commented on #19
Honestly, I think the approach by @kokspflanze is the best one for us to take. PHPUnit 5.7 is considered "legacy" currently (technically "old stable"), with version 6.0 the current stable release; the PHPUnit 4 series is no longer supported. As such, we need to start updating all components to pin them to newer versions. PHPUnit 5 is needed when testing against PHP 5.6, and PHPUnit 6 for versions

[2019-12-31 22:18] weierophinney commented on #19
@weierophinney from my site i see the biggest problem to support PHPUnit 4, 5 and 6, some modules like [zend-validator](https://github.com/zendframework/zend-validator/blob/master/composer.json#L16) start with min php 5.5 so they want PHPUnit 4 but there is no `expectException` method, these method added with phpunit 5.2 [code](https://github.com/sebastianbergmann/phpunit/blob/5.7/src/Framework/Te

[2019-12-31 22:18] weierophinney commented on #19
@kokspflanze

Why? PHP 5.5 and PHPUnit 4.8 are no longer supported!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-servicemanager/issues/182#issuecomment-283478801

[2019-12-31 22:18] weierophinney commented on #19
can i realy remove php 5.5 in modules like zend-validator?

---

Originally posted by @kokspflanze at https://github.com/zendframework/zend-servicemanager/issues/182#issuecomment-283480391

[2019-12-31 22:18] weierophinney commented on #19
@kokspflanze — We can issue new minor releases that bump the PHP requirement to `^5.6 || ^7.0` for any component at any time; I'm a bit surprised we haven't done so with zend-validator already, as we've been steadily doing so with new component releases for the past year!

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/issues/182#issuecomment-28348

[2019-12-31 22:18] weierophinney commented on #19
okay thats cool=) didnt know it that we can easy set it to the latest version=) that save many time

---

Originally posted by @kokspflanze at https://github.com/zendframework/zend-servicemanager/issues/182#issuecomment-283486919

[2019-12-31 22:18] weierophinney opened #20 "Factories created by generate-factory-for-class have fully-qualified namespace for classes pulled from the container"
@weierophinney, here is the issue, as requested.

As I was researching `generate-factory-for-class` today to create a tutorial on it, I noticed that while most classes referenced in the factory classes it generates were relative, with their fully qualified namespaces included via `use` statements, classes which were pulled from the container were not.

Here's an example of what I mean:

[code]

I'

[2019-12-31 22:18] weierophinney commented on #20
fwiw, great job on the class. The generated classes are excellently formatted, with proper docblock comments, etc. Thanks for making this happen.

---

Originally posted by @settermjd at https://github.com/zendframework/zend-servicemanager/issues/172#issuecomment-272491867

[2019-12-31 22:18] weierophinney opened #21 "Created tool to inject factory maps into configuration"
This patch adds a new tool, `create-factory-map`, which will map a given class to a given factory in the specified configuration file, under the provided configuration key (defaulting to `service_manager`).

[code]

As part of this work, I moved the methods for dumping configuration files into a trait; this trait is now composed by both the `ConfigDumper` and `FactoryMapperCommand`.

---

Original

[2019-12-31 22:18] weierophinney commented on #21
@GeeH I think this completes the pieces we need for the 3.2 release; can you review?

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/pull/161#issuecomment-248917197

[2019-12-31 22:18] weierophinney commented on #21
ping @GeeH would be great to have this can you review? just a reminder in case you forgot :)

---

Originally posted by @svycka at https://github.com/zendframework/zend-servicemanager/pull/161#issuecomment-265113871

[2019-12-31 22:18] weierophinney commented on #21
I spoke to @weierophinney in person which is naughty and I should have commented on here. @weierophinney I suggest we release 3.2 as it is and make further improvements in this area for 3.3.

---

Originally posted by @GeeH at https://github.com/zendframework/zend-servicemanager/pull/161#issuecomment-265116243

[2019-12-31 22:18] weierophinney commented on #21
Moved target milestone to `3.4.0`

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/pull/161#issuecomment-356202202

[2019-12-31 22:18] weierophinney opened #22 "Write new tutorial documentation for moving from ConfigAbstractFactory"
It might be a good idea to demonstrate in the documentation a migration path from this abstract factory to an explicit factory. One of the frequent comments I've seen from folks about the deprecation of ServiceLocatorAware is that developers are unaware of how to write factories. Including some explicit steps here will help them when they have the question of, "I need to do something that falls ou

[2019-12-31 22:18] weierophinney commented on #22
@GeeH Question: you mentioned at one point in development of #146 that you might write a tool that would create a factory/factories from `ConfigAbstractFactory` configuration. Do you still plan that? If so, I think we could defer this until that tool is available.

Also, wondering, because if you are planning that, I'm curious if you think we should delay the 3.2.0 release until it's ready...

---

[2019-12-31 22:18] weierophinney commented on #22
Is the [current doc's page](https://docs.zendframework.com/zend-servicemanager/cookbook/factories-vs-abstract-factories/) enough to explain the differences between Abstract Factories and Explicit Factories mentioned here and in #148 ?
I've seen it currently largely describes Comparisons, Convenience, etc.

If it is enough, I think this issue was already resolved by #150 , so it should be closed.

[2019-12-31 22:18] weierophinney opened #23 "Conflict in doc and implementation"
The documentation states that a factory stored in a class would implement FactoryInterface but it doesn't reference which one. In ZF3 there still exists the ZF2 FactoryInterface which requires a 'createService' method while the ZF3 interface requires '__invoke'.

It is confusing to still have the ZF2 implementation out there when the clear direction in the docs in ZF3. Perhaps it should be removed

[2019-12-31 22:18] weierophinney commented on #23
@robob4him Can you link to a specific page and heading where you see this occurring, please?

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-servicemanager/issues/144#issuecomment-244191804

[2019-12-31 22:18] weierophinney commented on #23
@weierophinney, np.

https://zendframework.github.io/zend-servicemanager/configuring-the-service-manager/
It's the example after the text:

---

Originally posted by @robob4him at https://github.com/zendframework/zend-servicemanager/issues/144#issuecomment-244245303

[2019-12-31 22:18] weierophinney commented on #23
Uhm, thats all right by the way. There is no specific namespace given and since the new `FactoryInterface` is located under `Zend\ServiceManager\Factory\FactoryInterface`, there is no requirement for implementing the old `Zend\ServiceManager\FactoryInterface` which defined the `createService` method.

But yes, the lack of the use statement in the top of the snippet might lead to the wrong Interfac

[2019-12-31 22:18] weierophinney opened #24 "[Zend\ServiceManager] Add alternatives services proposals when service not found is thrown"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/6836
User: @blanchonvincent
Created On: 2014-11-03T14:33:39Z
Updated At: 2015-02-19T20:09:54Z
Body
This idea comes from symfony, it wo

[2019-12-31 22:19] weierophinney opened #25 "ViewHelperPlugin manager configure problem"
ViewHelperManager is special type of ServiceManager. There is problem with flushing instances with configure (SM 3.0). It is needed for still alive applications e.g on ReactPHP

[code]

does not work, because there is plugin validation.

---

Originally posted by @visitek at https://github.com/zendframework/zend-servicemanager/issues/107

[2019-12-31 22:19] weierophinney commented on #25
The issue is unclear to me, and requires a test case in order to be verified

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/issues/107#issuecomment-222981834

[2019-12-31 22:19] weierophinney opened #26 "Catch statement in service manager should handle any exception code"
Hello ;

I've a service factory like this:

[code]

Here, if an error occurs, a PDOException is throw. The problem is that the underlying catch statement from the service manager don't handle PDOException code and thus, the following fatal error is raised:

[code]

Note: Here the wrong query **SET NAMESS** is intentional.

---

Originally posted by @nuxwin at https://github.com/zendframework/zend-

[2019-12-31 22:19] weierophinney commented on #26
Whole story to this point is writte in the first comment here: http://php.net/manual/en/class.pdoexception.php

Question to be asked is:
Should ZF ensure a  type-casting to int on all exceptions? (who knows where people might end up using PDO)? I don't think that an cast to int hurts performance much and everyplace we do that'd be an error case anyways so performance doesnt matter.

---

Originall

[2019-12-31 22:19] weierophinney commented on #26
@manuakasam

As I've said on IRC, I'll not loose my time with PHP dev team by reporting bugs on their bug tracker due to their EGO (and so on...).

**For the record**
- https://bugs.php.net/bug.php?id=41064
- http://put.hk/article/news.php.net/php.bugs/193170/Bug-51742-Opn-Nab-A-non-well-formed-numeric-value-encountered.html

In short: The PHP dev team does not hesitate to violate its own interfac

[2019-12-31 22:19] weierophinney commented on #26
Not really, it's mostly because many of the core members of PHP-DEV are still attached to very old practices that aren't really considered "good" anymore.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-servicemanager/issues/41#issuecomment-174352442

[2019-12-31 22:19] weierophinney commented on #26
This looks like it has been forgotten. Is this still an issue to resolve?

---

Originally posted by @spengilley at https://github.com/zendframework/zend-servicemanager/issues/41#issuecomment-205024279

[2019-12-31 22:19] weierophinney commented on #26
@spengilley

You mean in ZF3? I don't know. Even through, we can handle this problem locally by catching the exception.

---

Originally posted by @nuxwin at https://github.com/zendframework/zend-servicemanager/issues/41#issuecomment-205024420

[2019-12-31 22:19] weierophinney commented on #26
@nuxwin Thanks for responding.

I was talking specifically in ZF2.

I am looking for some easy issues to fix. I am new to contributing to open source :)

---

Originally posted by @spengilley at https://github.com/zendframework/zend-servicemanager/issues/41#issuecomment-205025113

[2019-12-31 22:19] weierophinney commented on #26
@spengilley

Not the best issue to start ;) From my point of view, this issue can be closed.

@Ocramius ?

---

Originally posted by @nuxwin at https://github.com/zendframework/zend-servicemanager/issues/41#issuecomment-205035473

[2019-12-31 22:19] weierophinney commented on #26
Why would you catch any exceptions in the service manager and re-throw generic, useless exceptions instead of leaving the proper exceptions to bubble up and be caught as needed by the user? If I had a penny for everytime the useless exceptions from the service manager were thrown and I had no clue what went wrong, I'd be rich. Maybe you should reconsider this in the future.

---

Originally posted

[2019-12-31 22:19] weierophinney commented on #26
You can rely on this type from a caller in order to wrap the DIC and write fallback logic.

If everything was a `\Exception` we may as well disable the exception system overall 😛

If the problem is dealing with "previous exceptions", then my suggestions is to get up to speed with that concept, and quickly, since most good OO libraries out there do wrap exceptions in known failure scenarios.

---

[2019-12-31 22:19] weierophinney commented on #26
Anyway, if anybody wants to pick this up, write a test with a factory that does something like this:

[code]

[2020-01-01 04:51] phil-davis opened #27 "documentation still mentions zendframework"
### Bug Report

#### Summary

https://docs.laminas.dev/laminas-servicemanager/

Instructions and links mention zendframework/laminas-servicemanager

#### Current behavior

Instructions and links mention zendframework/laminas-servicemanager

#### Expected behavior

Instructions and links mention laminas/laminas-servicemanager

Similar to issue https://github.com/laminas/laminas-filter/issues/14

I

[2020-01-01 15:26] michalbundyra commented on #27
See: https://github.com/laminas/documentation-theme/pull/2

[2020-01-14 07:57] adambalint-srg opened #29 "Change resolveParameter method to protected"
### Feature Request

The method: https://github.com/laminas/laminas-servicemanager/blob/d7c44852928ff8aa774db45defd45c631dc7856a/src/AbstractFactory/ReflectionBasedAbstractFactory.php#L207
Change this method to protected would be useful for other custom factories.

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

What do you think?

[2020-01-16 08:58] chris1312 opened #30 "Zend\ServiceManager\AbstractFactory\ConfigAbstractFactory::class key in config is ignored after migration to Laminas"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | latest

#### Summary

My project is using external modules that are placed under vendor directory. Those external modules contains services that are defined under Zend\ServiceManager\AbstractFactory\ConfigAbstractFactory::class.

After project is migrated to Laminas, service manager is ignoring the services defined und

[2020-01-16 08:59] chris1312 commented on #30
@weierophinney Is this indented behavior?

[2020-01-16 10:19] Xerkus commented on #30
@chris1312 Can you please verify that you have `Laminas\ZendFrameworkBridge` module enabled?

[2020-01-16 14:05] chris1312 commented on #30
It was not.
Enabling it solved the issue. Thanks for the help @Xerkus !

[2020-01-16 14:05] #30 closed

[2020-03-02 11:59] #2 closed

[2020-05-11 14:12] samsonasik commented on #10
closed in favor of #37

[2020-05-11 14:12] #10 closed

[2020-06-04 19:26] GeeH commented on #1
I'm closing this. The new example pulls a `stdClass` out of the service manager which isn't something you would ever do in the real world; the old example is better.

[2020-06-04 19:26] #1 closed

[2020-06-05 11:40] Ocramius commented on #6
Handled in #42

[2020-06-05 11:40] #6 closed

[2020-06-05 11:59] GeeH commented on #4
Dupe of #3 fixed by #43

[2020-06-05 11:59] #4 closed

[2020-06-05 12:00] GeeH commented on #5
Closing, I feel this was solved in the original issue.

[2020-06-05 12:00] #5 closed

[2020-06-05 12:02] GeeH commented on #7
@laminas/technical-steering-committee  is PHPStan fixes valid now or are we going all in with Psalm in the future? Do we see value in pull these changes across please?

[2020-06-05 12:03] #8 closed

[2020-06-05 12:06] GeeH commented on #9
I'm going to close this. I 100% appreciate the PR by @snapshotpl in the old repository but feel like the small syntatic changes are not worth porting across at this time.

[2020-06-05 12:06] #9 closed

[2020-06-05 12:09] GeeH commented on #11
I'm closing this issue but wanted to call out @snapshotpl for the original fix. We know target PHP 7.3 so I'm going to open an issue to improve the code generally with these kind of fixes. Thank you for the contribution!

[2020-06-05 12:09] #11 closed

[2020-06-05 12:14] GeeH commented on #12
I'm going to close as this just doesn't wash it's face for a move to the new repo at the moment -- massive thank you to @pine3ree for the original contribution and please feel free to re-create this PR on this new repo if you wish.

[2020-06-05 12:14] #12 closed

[2020-06-08 10:18] GeeH commented on #7
Ping @mwop @Ocramius

[2020-06-08 10:20] GeeH commented on #14
I'm going to close this, part of my attention in working on this component is to add type hints and other general cleanup in one fell swoop. Thank you so much to @snapshotpl for this effort in the first place.

[2020-06-08 10:20] #14 closed

[2020-06-08 10:21] GeeH commented on #13
Closing after conversation with @asgrim. Thank you so much for the inital work.

[2020-06-08 10:21] #13 closed

[2020-06-08 10:22] GeeH commented on #15
I'm closing this, it was a question rather than issue from over 3 years ago, I hope the OP found the resolution they needed!

[2020-06-08 10:22] #15 closed

[2020-06-08 10:25] GeeH commented on #17
This is a feature request from over 3 years ago with little progress, so I'm closing it for now.

[2020-06-08 10:25] #17 closed

[2020-06-08 10:27] GeeH commented on #18
@weierophinney you handled the original discussion on this topic, do you have any suggestions on how we should proceed with this please?

[2020-06-08 10:29] GeeH commented on #19
I'm closing this as we are now targeting PHPUnit 7.5 with plans to target @latest very soon.

[2020-06-08 10:29] #19 closed

[2020-06-08 10:31] GeeH commented on #20
I'm closing this; it's a 3 year old formatting tweak that hasn't been commented on in ages. @settermjd please reopen if you want to work on this further.

[2020-06-08 10:31] #20 closed

[2020-06-08 10:32] RalfEggert commented on #18
Since I opened that issue originally and it still annoys me from time to time. Yes please proceed on this one.

[2020-06-08 10:34] GeeH commented on #21
@weierophinney I forget what the hell we did here; do we want to release this as part of the 3.5 release I'm working towards?

[2020-06-08 10:38] GeeH commented on #24
I'm closing this; it's been migrated twice now and is super duper old.

[2020-06-08 10:38] #24 closed

[2020-06-08 10:39] GeeH commented on #18
I don't really understand what needs to be done here. @RalfEggert would you be open to creating an initial PR on this please?

[2020-06-08 10:40] GeeH commented on #25
It is over 4 years since this was raised and has had no communication from author in over 4 years. I'm closing this.

[2020-06-08 10:40] #25 closed

[2020-06-08 10:43] GeeH commented on #26
I'm closing this. It contains personal attacks on contributors to the PHP project which is never acceptable. Plus the original author states: "Not the best issue to start ;) From my point of view, this issue can be closed."

[2020-06-08 10:43] #26 closed

[2020-06-08 10:46] GeeH commented on #29
I think moving this to protected is sensible if people would like to extend the `ReflectionBasedAbstractFactory` and implement slightly different versions. Any thoughts? I'm guessing @Ocramius will have *opinions* on this.

[2020-06-08 11:19] RalfEggert commented on #18
Well, the FactoryInterface is still using `Interop\Container\ContainerInterface` that should be changed to `Psr\Container\ContainerInterface`.

https://github.com/laminas/laminas-servicemanager/blob/master/src/Factory/FactoryInterface.php#L11

The `Interop\Container\ContainerInterface` already just extends `Psr\Container\ContainerInterface`, so a namespace change should solve it. But I am not sure

[2020-06-08 13:03] roelvanduijnhoven commented on #15
@GeeH OP is satisfied ;) and dit not use `ConfigAbstractFactory` in a long time:  `ReflectionBasedAbstractFactory` FTW!

[2020-06-08 16:43] boesing commented on #18
@RalfEggert There is an [RFC](https://discourse.laminas.dev/t/rfc-removal-of-container-interop-from-laminas-servicemanager/1608) regarding this issue.
It was opened by @weierophinney and if you have some things to add, feel free to comment on discourse 👍

[2020-06-12 11:36] #3 closed

[2020-06-12 11:40] GeeH opened #44 "Add PHP 7.3 type declarations"
- add `declare(strict_types=1)` to all src and test files
 - add parameter type declarations where appropriate
 - add return type declarations where appropriate
 - rejoice in a job well done

[2020-06-17 06:39] Ocramius commented on #29
I don't think extension is a good approach here: the factory can be copied over (with tests) and re-implemented differently.

`protected` is mostly to be used for `abstract` types with extremely strict invariants (only)

[2020-06-17 06:40] Ocramius commented on #29
Closing here: this is a clear scenario whete copying code is indeed preferable (please copy also the tests)

[2020-06-17 06:40] #29 closed

[2020-06-26 09:05] RalfEggert commented on #18
Thanks @boesing. Actually I have nothing to add. Thanks for pointing out.

[2020-06-26 14:18] weierophinney commented on #18
The problem, as I noted, is that any factories implementing `FactoryInterface` would break on the next update, as the signature technically changes (the typehint changes, essentially). As such, a new major version is needed for switching to the PSR-11 interfaces.

[2020-08-09 12:24] samsonasik commented on #7
Based on this https://github.com/laminas/technical-steering-committee/blob/c896c3af8fcbe0b3df82751e8bfeb54b536cc2e9/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling , we are going to use psalm.

I am closing this.

[2020-08-09 12:24] #7 closed

[2020-10-04 15:29] boesing opened #54 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:45] boesing opened #55 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-14 09:30] ocean commented on #55
Taking a look at this too as it affects my other PR at https://github.com/laminas/laminas-feed/pull/29

[2020-11-17 23:27] #55 closed, assigned to nobody

[2020-12-01 12:51] fabiang opened #59 "`ContainerInterface` reference was changed in a minor release"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 3.5.0

#### Summary

I waited for this day since two years or so, but did not expect this to happen on a minor release. Is it intentional that the `Laminas\ServiceManager\Factory\FactoryInterface` now uses `Psr\Container\ContainerInterface` instead of `Interop\Container\ContainerInterface` and all my factories are brok

[2020-12-01 13:06] Ocramius commented on #59
@fabiang hmm, no, a BC break was not expected.

I did a release due to `3.5.0` being ready to be released and all changes merged thus far: sorry if it caused any issue: means that we have to get better at handling BC.

As for the BC break, since it was released minutes ago, I'd go with `3.5.1` that reverts it.

[2020-12-01 13:10] Ocramius commented on #59
Indeed, `3.5.0` contained commits that should not have been there: I'm preparing a patch and will crank out a release ASAP

[2020-12-01 13:24] Ocramius commented on #59
Ok, so here's what happened:

 1. I merged zendframework/zend-servicemanager#187 into `develop` 2 years ago: https://github.com/zendframework/zend-servicemanager/pull/187#issuecomment-364758559
 2. package got renamed
 3. at some point, `develop` became `3.5.x` instead of becoming `4.0.x`
 4. today, after reading a ping (https://github.com/laminas/laminas-servicemanager/pull/57#issuecomment-736345

[2020-12-01 13:29] Ocramius commented on #59
Ok, after evaluating the entire diff, a full revert of 3.5.0 is needed: I will push `3.4.1` as `3.5.1` and move `3.5.x` to `4.0.x`, and `3.4.x` as `3.5.x`

[2020-12-01 13:40] Ocramius commented on #59
Marking this as closed and starting `3.5.1` release automation

[2020-12-01 13:40] #59 closed, assigned to Ocramius

[2020-12-01 13:44] Ocramius commented on #59
`3.5.1` is now the same as `3.4.1`

I will publish `3.5.0` as a new branch, mostly for us to move things into `4.0.x`.

[2020-12-01 13:49] fabiang commented on #59
Thanks a lot. I can confirm that it's working with 3.5.1 again.

Would you accept an PR with an unit tests for this interface? I would do it with Prophecy, so we can make sure that such an fundamental interface is always correct for that version?

[2020-12-01 13:54] Ocramius commented on #59
@fabiang the tests are already in place: the diffs changed all related tests too, hence why it looked like everything was ready for a release (and wasn't).

What should probably be built in is something like `roave/backward-compatibility-check`, which guarantees that a minor release won't contain more backwards-incompatible changes (https://github.com/Roave/BackwardCompatibilityCheck).

Can you pe

[2020-12-01 14:01] fabiang commented on #59
Btw I think 3.5.0 should be removed from Packagist.org. If someone does `compose require laminas/laminas-service` right now he will get `^3.5` in his `composer.json`, but 3.5.1 is installed. When he executed his tests with `composer install --prefer-lowest` (I do often to check the lowest versions required) the tests will break.

[2020-12-01 14:07] Ocramius commented on #59
Packagist does scrub versions after some time: happens overnight though.

Alternatively, @weierophinney can "press zeh button" when online.

[2020-12-01 14:25] weierophinney commented on #59
Done!

[2020-12-01 14:39] adamturcsan commented on #59
Thanks for the fast reaction! I've hit the 3.5.0, but it's all good now!

[2020-12-02 10:18] fabiang commented on #59
I've tried. But I can't install any version without needing to update other requie-devs and then loosing PHP support for <7.x.

[2020-12-02 10:46] Ocramius commented on #59
The tool can be installed independently in a job that runs 7.4

[2020-12-08 05:39] PowerKiKi commented on #59
According to #51, the 3.5.0 version should have brought support for PHP 8.0. But with the cancellation of 3.5.0 and complete revert in 3.5.1, we lost that PHP 8.0 support.

I see there is already a [3.5.2 milestone](https://github.com/laminas/laminas-servicemanager/milestone/6). Is it planned to (re-)release the non-breaking parts from 3.5.0 as a 3.5.2 ? should we open pull requests for that ? or

[2020-12-08 07:23] froschdesign commented on #59
@PowerKiKi
Please have a look at #64

[2020-12-08 07:30] PowerKiKi commented on #59
Thanks ! so I will wait for 3.6.0 for PHP 8

[2020-12-17 19:38] zakirullin opened #66 "Autowiring for scalar types"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

We had an enormous number of handcrafted factories in past. The fact is, once you need a scalar - you're in trouble, because `ReflecitionBasedAbstractFactory` has nothing to offer to you.
So we came up with our own solution - `AutowiringBasedFactory`, and it work

[2020-12-24 09:13] zakirullin commented on #66
@weierophinney  @Ocramius  @boesing @geerteltink Hi there. Can you please have a look?
It's fully BC, and  it adds some really useful possibilities, whereas giving prior-runtime container validation checks.

[2020-12-24 09:17] Xerkus commented on #66
Just passing comment: this sounds more like a laminas-di territory: https://docs.laminas.dev/laminas-di/cookbook/aot-guide/

[2020-12-24 09:34] zakirullin commented on #66
@Xerkus Thanks! As far as I can see, it's not widely used. And it definitely adds some complexity.
Whereas the solution above is fairly simple (5 lines of code above `ReflectionBasedAbstractionFactory.php`). Plus a separate container verification script.
It doesn't have code generated factories though. We did some research and it seems like there's not much difference between Reflection-based appr

[2020-12-25 09:23] Ocramius commented on #66
Discussed briefly in chat: I also believe that if we go down this road, it is not through `laminas-servicemanager`, but through `laminas-di`, with full AoT compilation of a PSR-11 container there.

Doing it here => too fragile already, and we don't have any AoT build mechanisms either.

[2020-12-25 14:31] zakirullin commented on #66
Huh. Grasped the code of `laminas-di`. You were right, that's just **a perfect fit** for what I was trying to achieve :)
It works awesome when paired with `laminas-servicemanager`, few changes were required to a fairly huge codebase.
Great job!

The only features we're missing are so far:
- Container verification (without factories generation)
- Circular dependencies static check (now it's only at

[2020-12-30 16:10] zakirullin commented on #66
https://github.com/laminas/laminas-servicemanager/pull/67

[2020-12-30 16:10] #66 closed, assigned to nobody

[2021-01-07 07:51] ppaulis commented on #44
@GeeH need some help on this?
I took a quick look at the dependencies. Not everything seems to be PHP8-ready yet, but I could help with the PSR-12 and the property types in the meantime.

[2021-01-07 17:15] alexz707 opened #68 "Overwriting an invokable with a factory does not work"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.5.1

#### Summary

The config get's merged not as expected.
I have a vendor's config in Module.php like this:
[code]
I want to overide this one with a factory in my module.config.php:

[code]
#### Current behavior

If I try to get the 'lmcuser_register_form_hydrator' from ServiceManager I get the ClassMethodsHydrator::cla

[2021-01-10 21:15] Grundik opened #70 "All but the first configured initializers are ignored"
### BC Break Report (or bug?)

Broken version: 3.6.0
Working version: 3.5.1
Commit: https://github.com/laminas/laminas-servicemanager/commit/d0b38fb4629d8bf7111cb0533f6a512b1fd10923#diff-c88e8922673ece50d04aef21f4dc95b87bd465868eb073480467f87e626e3b0aR541 merged by 0a6c0ffc88a91720b3199b91d0374eb0f20dcfd0

#### Summary

This code in the ServiceManager->resolveInitializers() method:
[code]
causes t

[2021-01-10 22:03] boesing commented on #70
Thanks for reporting, @Grundik!

I will immediately create a fix for that.

[2021-01-10 22:23] #70 closed, assigned to boesing

[2021-01-10 22:34] boesing commented on #70
@Grundik Fix is out. Please update to `laminas/laminas-servicemanager` v3.6.1.

[2021-01-11 08:48] syberon commented on #68
Today i found the same bug in version 3.6.1 - all overwritten invokables are ignored.

The reason is in ServiceManager.php on line 376:
[code]

This assignment overwrites all custom declared invokables by default values. To fix this bug this line should be:
`$this->aliases = $this->aliases + $config['aliases'];`

[2021-01-11 18:39] Ocramius commented on #68
@syberon can you produce a failing test case, please?
Should be easy to fix once that is available.

[2021-01-11 23:33] jensdenies opened #73 "Running composer cs-check is broken on PHP 8.0"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.6.1

#### Summary

When running the composer command `composer cs-check`, you'll be greeted with the following error message:

`Fatal error: Array and string offset access syntax with curly braces is no longer supported in Laminas-servicemanager/vendor/squizlabs/php_codesniffer/CodeSniffer/CLI.php on line 453`

[2021-01-11 23:50] snapshotpl commented on #73
That's why `cs-check` runs on PHP 7.3 in travis. It's problem with missing php8 support in CodeSniffer

[2021-01-12 19:31] boesing commented on #73
Yup, we do not run codestandard on multiple versions. Just execute codestandard on the same PHP version as its been done in the `.travis.yml` configuration.

[2021-01-12 19:31] #73 closed, assigned to nobody

[2021-01-13 17:57] driehle commented on #68
I am having the same issue, related with the `neilime/twbs-helper-module` library. The issue appears with service manager 3.6.0 and 3.6.1, but not with 3.5.1. So for now I downgraded with `composer require laminas/laminas-servicemanager:"~3.5.0"`.

[2021-01-13 20:55] driehle commented on #68
Not a 100% sure, but I might have found a suitable test case for @syberon's problem:

[code]

Once an alias is set, it is not overriden if a new factory is registered for the same string. A solution might be what I have done with [bd15fbb9](https://github.com/driehle/laminas-servicemanager/commit/bd15fbb93bf9d0e8ae83c365fa5921b581e7d7e7). However, I am not sure if this is actually related to 3.6.1

[2021-01-13 21:55] driehle commented on #68
I had a deeper look at neilime/twbs-helper-module#128 and found that what actually happens is that config is merged from different sources and then `configure()` is called with something like this:

[code]

So obviously this configuration is inconsistent by itself. According to `invokables` the Submit element should be used from TwbsHelper, however, according to `aliases` and `factories` the eleme

[2021-01-18 10:04] driehle commented on #68
@alexz707 With the release of 3.6.2 the BC break has been fixed. Nevertheless, if a vendor defines an invokable like this:

[code]

You will have to keep in mind that the seminar manager internally rewrites this to the following:

[code]

Therefore, for overriding this with your own factory, you will have to either override the invokable with an invokable (which likely won't help you, since your o

[2021-02-01 21:17] boesing opened #80 "ServiceManager::has does not resolve alias before calling abstract factories which might lead to infinite loops"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 3.6.2

#### Summary

`ServiceManager::has` received performance improvements in zendframework/zend-servicemanager#221
Sadly, this is causing an endless loop for `config` alias.

#### Previous behavior

`ServiceManager::has` early returned `true` for `$container->has('config');`

#### Current behavior

Segmentation faul

[2021-02-03 08:42] boesing commented on #80
Closed with #81

[2021-02-03 08:42] #80 closed, assigned to nobody

[2021-02-03 09:01] boesing commented on #68
@alexz707 did servicemanager v3.6.2 fixed your problem? If so, please let us know so we can mark this as fixed.

[2021-02-03 09:56] syberon commented on #68
In my case v3.6.2 successfully fixed the problem.

[2021-02-03 12:06] mrVrAlex commented on #59
FYI: IMHO: This problem with BC Break can be resolve just like this:
[code]
And add this file to composer autoload...

P.S.  It's ugly but it worked for 3.5.0 version for me.)

[2021-02-03 20:48] boesing commented on #59
@shandyDev We reverted 3.5.0 and thus you should upgrade to 3.6.X if you are still using 3.5.0.

[2021-02-27 10:13] hschletz opened #84 "Incorrect PHP version constraint"
According to documentation, 3.6 and later require PHP 7.4 or later, but the package has an inadequate version constraint:

    "php": "^7.3 || ~8.0.0",

This makes the package installable with PHP 7.3 when it shouldn't. The constraint should be updated.

[2021-02-27 13:05] boesing commented on #84
Could you provide a link to the mentioned documentation?
The package is fully tested on PHP 7.3 and thus indeed functional aswell.
So the constraint is absolutely correct as you can see in the CI pipeline.

Do you have any problems on 7.3?

[2021-02-27 13:08] hschletz commented on #84
Mentioned in the release notes: https://github.com/laminas/laminas-servicemanager/releases/tag/3.6.0
See #50

[2021-02-27 13:10] Ocramius commented on #84
The notes state:

On Sat, Feb 27, 2021, 14:08 hschletz <notifications@github.com> wrote:

[2021-02-27 13:12] hschletz commented on #84
Sorry, just noticed that. Mentioning both in the same release notes is a bit confusing...

[2021-02-27 13:12] #84 closed, assigned to nobody

[2021-02-27 15:20] boesing commented on #68
Closing this as there was no update from the author recently and it seems that it has been fixed for others.
If you still experience issues, please let us know by commenting this issue.

[2021-02-27 15:20] #68 closed, assigned to nobody

[2021-03-24 07:53] nusphere commented on #44
i also could help to improve the PSR-12 Coding Style and Type-Hint.

[2021-03-27 13:06] nusphere commented on #44
@GeeH @ppaulis
is there currently someone who is actively working on it?

is it possible that I can divide myself into it? Because doing something twice is more or less pointless.
But since the issue has not been further developed since June 18th ... what is the current status?
or does it make sense to simply fork the current 4.0.0 branch and off you go?

[2021-03-29 12:01] ppaulis commented on #44
@nusphere I'm waiting for some maintainer input here to avoid doing the work at the same time than someone else.

[2021-04-03 13:06] nusphere commented on #44
@ppaulis

Thank you for your feedback. in the meantime i have tried other components, as there is basically a lot to do.

Doing double the job makes absolutely no sense.

I am happy to help with this task, but I am now trying to create the basis for such a refactoring by helping to provide the GitHub Actions in the components.

[2021-05-26 09:16] Slamdunk opened #89 "AbstractPluginManager::get has parameter name mismatch with ContainerInterface::get"
Found in https://github.com/laminas/laminas-form/pull/121#discussion_r639546501

As of PHP 8 named parameters, `\Laminas\ServiceManager\AbstractPluginManager::get(name)` should be renamed to `\Laminas\ServiceManager\AbstractPluginManager::get(id)`

[2021-06-07 15:05] GeeH commented on #44
Hi, huge apologies, real life took over. I'm happy to get back involved here but would you be able to roundup what you need from me please @nusphere ?

[2021-06-07 16:16] boesing commented on #44
@GeeH In the meantime, we dropped v4.0.0 as having a new major version in the service manager would lead to a huge amount of work in almost every other component which works with the servicemanager directly (e.g. due to the usage of `AbstractPluginManager`).

Another thing is a proper migration path for the `psr/container` BC break.

Thus said, I don't think it makes sense to approach type-safety

[2021-07-13 15:16] javabudd commented on #18
Any updates on this? I've created a feature request in Laminas/ApiTools/Doctrine to update usages but realized this would also need updating.

https://github.com/laminas-api-tools/api-tools-doctrine/issues/27

[2021-07-13 15:22] boesing commented on #18
@javabudd yes, there is some information [here](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2021-02-01-TSC-Minutes.md#future-of-laminas-servicemanager) and [here](https://github.com/laminas/laminas-servicemanager/issues/44#issuecomment-856075857).

TBH, bumping the servicemanager to a new major will need a huge amount of work in downstream components. We are

[2021-07-14 10:55] gsteel opened #90 "Improve Delegator Documentation Specifically for Aliased Services"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | current  |
| BC Break?           | No |

### Goal

Update docs to state that delegators cannot target service aliases.

### Background

For some reason, I personally can never remember that you can't wrap a service alias with a delegator - you must target the service name that corresponds to concrete

[2021-07-14 11:47] boesing commented on #90
Somewhere I pointed that out as well. AFAIR that was in some of the plugin manager issues where one changed old behavior (`ValidatorManager`) to `ValidatorPluginManager::class` but added the alias for `ValidatorManager`.

https://github.com/zendframework/zend-mvc/pull/294

Didn't read all of the comments in that PR but I personally cannot remember on why this did not work for aliases. Maybe, we ca

[2021-07-14 14:42] weierophinney commented on #90
It doesn't work on aliases because delegators are applied after the alias has already been resolved, and the alias isn't known in the scope in which the delegators are applied.

If an alias is in play, it is resolved, and then https://github.com/laminas/laminas-servicemanager/blob/3.7.x/src/ServiceManager.php#L224 is invoked - with the resolved name. It's in the `doCreate()` workflow that delegato

[2021-07-14 14:48] gsteel commented on #90
It would be handy _(for me at least)_ to have delegators applied to aliases - My use case is that I use aliases to hide an implementation like a PSR18 Http Client for example. If I want to, for example, wrap whatever client is configured in another implementation that logs requests for example, I also have to know up-front which implementation/service name I need to target in order to execute the

[2021-07-14 17:30] boesing commented on #90
@weierophinney we know in `get` context if it was an alias or not and if so, we could apply delegators and initializers based on the alias name.

[2021-07-14 17:35] weierophinney commented on #90
@boesing correct - but that would require passing the alias to `doCreate()` as well. If we were to go that route, we'd have to fallback to delegators on the resolved name if no delegators were found for the alias; otherwise, we'd have a BC break (as existing behavior uses the resolved name).

[2021-07-15 14:17] gsteel commented on #90
Once you have the resolved name and you're ready to `doCreate` could a step be added, before delegation occurs to look up aliases pointing at the resolved service and investigate each alias for registered delegators, compile them in a deterministic order and then apply each delegator? I expect that delegators targeting the resolved service would execute first, then those targeting aliases after (?

[2021-07-15 14:25] boesing commented on #90
I guess that could work, yes.
We might want to apply initializers as well.
Perhaps we can collect informations on which delegators/initializers were already applied to the service so we wont apply them more than once?

[2021-07-15 16:33] weierophinney commented on #90
Oof, I'm not sure I like that idea.

There's basically two ways to think of aliases.

1. They resolve **to the exact same instance** as they resolve to. In that case, attaching delegators should only happen via the resolved name, as otherwise we might end up with delegators for each alias running, which might lead to unexpected results.

2. They result in discrete instances. In that case, I would

[2021-07-15 18:03] gsteel commented on #90
I can see that there's a lot of potential here for bc breaks and excessive complexity so I'm not advocating for any change, but the discussion is interesting.

I wouldn't like to attempt a change like this and I think it would be reasonable to assume a fair performance penalty if implemented.

I will stick to the original plan though and send in a pull to make a note in the documentation when I ge

[2021-07-16 08:33] boesing commented on #90
Well, I'd love to have that feature on aliases aswell.
When I request a service via an alias, I want that all initializers and delegators being applied which might be set to that alias to avoid that somewhere, that alias is being overridden, my initializers/delegators are not applied anymore.

I have a concrete example here:

[code]

[code]

^ This is actually not possible, so I add that delegator

[2021-07-16 13:30] weierophinney commented on #90
@boesing Let me make sure I understand: you want the delegators for `ClientInterface` to run _in addition to_ those for `MyClient`? or _instead of_?

I ask, because the _instead of_ part is fine, and it's something I'd support. However, it's not the current behavior; the current behavior is to run delegators and intializers only for the resolved service name, and we don't currently store separate

[2021-07-16 15:06] boesing commented on #90
@weierophinney when alias is requested, the alias delegators + those from the service the alias is pointing to should be applied.

If the service is requested explicitly, only those from the Service should be applied.

Same for the initializers.

[2021-07-16 16:04] weierophinney commented on #90
See my notes above; I think this will cause confusion for users. In particular, what if the expectation is that the alias delegators are the _only_ ones applied? What if they _do not want_ other delegators applied?

It's exactly these sorts of questions that lead to @Ocramius suggesting that aliases should be abolished entirely, in favor of just assigning a factory directly to the "alias". The ben

[2021-07-22 14:37] danielspk opened #92 "Update psr/container"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes/no
| BC Break    | yes/no

#### Summary

Hi, is it possible to upgrade to `psr/container` version 2?

[2021-07-22 14:40] Ocramius commented on #92
See https://github.com/laminas/laminas-servicemanager/issues/18#issuecomment-879182790

[2021-07-22 16:23] boesing commented on #92
Yah, I dont think we can bump to new PSR major without replacing interop container. Having interop container replaced needs a ton of work which is not yet achievable.

Maybe we can create some kind of roadmap on how we want to proceed. We need all components which are affected (which are plenty), we might need to find the most popular 3rd party components to push details to them on how to upgrade

[2021-07-22 16:30] Ocramius commented on #92
Just spitballing, but container-interop could be polyfilled, meanwhile, for
compat.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Thu, Jul 22, 2021 at 6:23 PM Maximilian Bösing ***@***.***>
wrote:

[2021-07-22 21:52] boesing commented on #92
Polyfilling while changing majors sounds too hacky tbh.

Even tho, by adding return typehints to `ContainerInterface::has` implementing classes would be a BC break as well. Or did I missunderstood your message?

[2021-07-24 11:43] #54 closed, assigned to nobody

[2021-07-24 19:33] #90 closed, assigned to gsteel

[2021-07-24 19:38] Ocramius commented on #89
To clarify, this is a parameter name mismatch is not within the library, but against `psr/container`.

[2021-07-27 18:41] weierophinney commented on #92
@boesing The idea is one I put forward a while back, but I think I may have run into an issue; need to review my notes.

The idea is this:

- Inline the container-interop interfaces into this package.
- Place a "replace" entry in the package indicating it replaces those interfaces (which means that any package or app installing laminas-servicemanager will no longer pull the original container-inte

[2021-07-27 18:52] boesing commented on #92
@weierophinney So inlining the interfaces without changes just to avoid the "abandoned" message from composer? Or what would be the goal?

[2021-07-27 20:45] weierophinney commented on #92
Yes - that's the idea.

The problem we have currently is that all of the various FactoryInterface, AbstractFactoryInterface, DelegatorFactoryInterface, AbstractPluginManager, etc. all typehint on container-interop, which is what would require the major version bump. Most users do not directly extend those (many of the interfaces can use vanilla callables), so the primary concern is seeing that "co

[2021-08-24 15:31] pimjansen opened #102 "ServiceManager runs OOM on circular dependency"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.6.4

#### Summary

Creating a circular dependency will trigger an OOM instead of a catch.

#### Current behavior

The application runs OOM

#### How to reproduce

I do not have an exact code block but i can explain the scenario i am facing. I have an application which uses `Monolog` to write logs to disk. In the factory i

[2021-08-24 15:49] boesing commented on #102
We do have a cyclic alias check when the service manager is "configured".
Sadly, we do not have runtime checks for this.

One thing we need to keep in mind is that one can avoid cyclic dependencies when using lazy services.
A potential bugfix should therefore address delegators - if any delegator factory is available for a service, the service manager should continue working as of now. Only if the

[2021-08-24 16:00] pimjansen commented on #102
Agree, in fact the issue i am facing is an architecture design gap. But an OOM is mostly not good for a servicemanager to happen on runtime so it could be a good addition to cap it on `x` loops and even make the loop count configurable for other strange usecases

[2021-08-24 16:05] Ocramius commented on #102
Unlikely meaningful: an OOM usually only happens if you have an infinite loop, so you should solve it during integration/acceptance testing level.

Any sort of runtime checks for these edge cases will hit hard on the performance of the ServiceManager, which is a no-go, given its critical path.

Alternatively, an architecture change (new major version) that does a dependency graph analysis is neede

[2021-08-24 16:05] #102 closed, assigned to Ocramius

[2021-08-24 17:07] pimjansen commented on #102
Fine, @boesing asked me to raise this so

[2021-08-24 17:13] boesing commented on #102
I still think we could add a config flag to enable runtime circular dependency check which is disabled by default and thus would not be a BC break. Even tho it is up to the upstream project to fix the issue behind this, having some feedback in non-production environments would help finding the service which causes that infinite loop.

WDYT @Ocramius?

So in the end, this would be a feature request

[2021-08-24 18:42] Ocramius commented on #102
IMO no - it's part of some pre-runtime analysis, and we discussed it in https://github.com/laminas/technical-steering-committee/issues/55 (see https://github.com/laminas/technical-steering-committee/blob/c7f6babfb1773d9cb9371208102cbb8b27980bd5/meetings/minutes/2021-03-01-TSC-Minutes.md#laminas-service-inspector ) /cc @zakirullin

[2021-09-21 15:23] boesing opened #107 "Psalm type `ServiceManagerConfiguration` of `ServiceManager` is invalid"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.10.0

#### Summary

Psalm does not understand intersection types in this combination:

[code]

https://psalm.dev/r/272229cbfa

Maybe thats a fixable bug within psalm but I think we should also raise raise the issue here.

#### Current behavior

[code]

#### How to reproduce

[code]

#### Expected behavior

No psalm error

[2021-09-21 15:43] Ocramius commented on #107
Ref: https://github.com/vimeo/psalm/issues/2105

[2021-09-29 12:19] desaiuttam opened #108 "syntax error unexpected '?' expecting function error PHP 7.4.23"
### Bug Report

Magento 2.4.3 Version
On Composer Install we require the laminas-servicemanager library.
The library has been Installed.

|    Q        |   A
|------------ | ------
| Version(s)  | 3.10.0

#### Summary

facing critical log as [2021-09-29 09:46:24] main.CRITICAL: ParseError: syntax error, unexpected '?', expecting function (T_FUNCTION) or const (T_CONST) in /home/production/vendor/l

[2021-09-29 12:22] samsonasik commented on #108
already answered at https://github.com/laminas/laminas-servicemanager/pull/106#issuecomment-930123672 for different multiple php version installed. Please check php version that access it.

[2021-09-29 12:22] #108 closed, assigned to nobody

[2021-11-10 08:00] spbentz opened #109 "Package container-interop/container-interop is abandoned"
### BC Break Report

|    Q            |   A
|------------ | ------
| Version      |  3.10.0

#### Summary

Composer install returns:
"Package container-interop/container-interop is abandoned, you should avoid using it. Use psr/container instead."

[2021-11-10 08:26] Ocramius commented on #109
Duplicate of https://github.com/laminas/laminas-servicemanager/pull/96

[2021-11-10 08:26] #109 closed, assigned to Ocramius

[2021-12-13 14:00] dmetzler1988 commented on #92
I have the same case with the message "container-interop is abandoned" on multiple projects on install/update the composer dependencies.

[2021-12-13 14:03] Ocramius commented on #92
@dmetzler1988 yeah, can be safely ignored, and as you can see, we're working on it

[2022-01-23 01:43] renovate[bot] opened #111 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-servicemanager).

## PR Edited (Blocked)

The following updates have been manually edited so Renovate will no longer make changes. T

[2022-01-23 01:50] Ocramius commented on #111
Note:

 * we need to drop this filtering on CI runs:
   https://github.com/laminas/laminas-servicemanager/blob/88531f4cd84d4a2dbb2ec094060e92b21c2a48b3/.github/workflows/continuous-integration.yml#L5-L8
 * we need to re-run renovate (rebase) after that, to ensure CI runs, before renovate auto-merges anything (so far, it is waiting for status checks)
 * we need to add DCO commit message syntax to r

[2022-01-23 02:14] internalsystemerror commented on #111
I think we're good now. The current schedule is set to be daily, which is `before 2am` (https://docs.renovatebot.com/presets-schedule/#scheduledaily). Some actions will occur outside of the schedule, but we will want to check on this again tomorrow now.

Edit: Ooo, and I just saw that the `Signed-off-by` message is appearing on the dashboard. ~~I can probably offer a PR to add a `signOffCommits` o

[2022-01-23 02:16] Ocramius commented on #111
Ok, checks failed because:

 * markdownlint failed (we really need a `package.lock` for this stuff)
 * Expected CI failures

Overall seems promising, but hard to verify auto-merge capabilities tonight 😬

[2022-01-23 04:46] Ocramius commented on #111
Note: I expected a PR for the failed CI run for the lockfile branch 🤔

[2022-01-23 13:04] internalsystemerror commented on #111
I expect this to happen during the next scheduled period, `before 2am` each day.

[2022-03-21 08:23] settermjd commented on #92
Hey folks, as part of refactoring two packages, I need to refactor laminas-servicemanager to depend on psr/container 2.0. After reading this thread, I'd happily do the work to implement a PR, but I'll need some guidance to do so. If someone's up for that, I'm up to get it done. I think laminas-servicemanager is one of about 5 packages that I need to touch.

[2022-03-21 08:28] Ocramius commented on #92
@settermjd please see open PRs

[2022-03-21 10:15] settermjd commented on #92
Right you are. Sorry for not checking those before posting.

[2022-03-21 11:15] Ocramius commented on #92
No worries, just pointing you there: #96 is probably the most relevant one.

[2022-04-07 08:21] remicollet opened #124 "Version 3.11 conflicts with ext-psr"
When [psr](https://pecl.php.net/package/psr) extension is loaded

`Fatal error: Uncaught ValueError: class_alias(): Argument #1 ($class) must be a user-defined class name, internal class name given in ......src/autoload.php:13
`

so `class_alias` cannot be used there

[2022-04-07 08:26] remicollet commented on #124
Using old code (in src/autoload) can be a workaround

[code]

BTW, I don't see any real benefit in replacing container-interop, user simply should switch away from it, and composer display a warning about this when installed

`Package container-interop/container-interop is abandoned, you should avoid using it. Use psr/container instead.`

[2022-04-07 09:35] Ocramius commented on #124
@remicollet the reason why we did `replace` is for BC specifically: we wanted to be able to migrate to `psr/container:^2`, and we couldn't due to no movement on `container-interop/container-interop`.

Dropping `container-interop` is not viable due to the amount of downstream factories and inheritance-based designs that would just break.

On this end, I must say that I didn't know that a `psr` exte

[2022-04-07 09:54] boesing commented on #124
TBH: I have no idea how to fix this.
I also don't see/understand why it is not possible to use `class_alias` for interfaces provided by an extension.

We also had RFC open for months, almost 1 year and there was no feedback in that direction.

That extension also is problematic when it comes to multiple major versions of the PSR standards. So until there is no dedicated extension per RFC, that ext

[2022-04-07 09:57] Ocramius commented on #124
Adding `"conflict": {"ext-psr": "*"}` is a viable solution, for now.

[2022-04-07 09:58] boesing commented on #124
Yes, but that will only apply to the 2nd patch of the minor. So 1st patch still installable. :-/

Only for all 3 `psr/cache` versions + all `psr/container` versions, there need to be these major versions of the extension:
- one with `psr/cache` v1 + `psr/container` v1
- one with `psr/cache` v1 + `psr/container` v2
- one with `psr/cache` v2 + `psr/container` v1
- one with `psr/cache` v2 + `psr/cont

[2022-04-07 10:26] Ocramius commented on #124
Yes, but we can't do much about that anyway. Let's just declare the conflict, since bug reports need to target the latest patch release anyway, in order to be considered: at least we declared where we stand.

[2022-04-07 11:39] boesing commented on #124
Guess this issue reported here also covers the error "reported" in the commit:
https://github.com/laminas/laminas-servicemanager/commit/4756d91435575a0e5e346d8e254f71ebf9c04a65#commitcomment-70569233

[2022-04-07 17:20] #124 closed, assigned to Ocramius, boesing

[2022-04-13 15:15] MeetKamal commented on #124
Hello all, have added the conflict but still getting same error :(

[2022-04-13 15:17] Ocramius commented on #124
Are you on the latest version? Check `composer show --installed`: you should be on `3.11.2` or newer.

[2022-04-14 04:24] MeetKamal commented on #124
Hi @Ocramius -  Just checked the version its 3.11.1
laminas/laminas-servicemanager                   3.11.1   Factory-Driven Dependency Injection Container

how we can upgrade ?

[2022-04-14 06:33] Ocramius commented on #124
By uninstalling `ext-psr`, for which we declared an explicit compatibility conflict 😁

[2022-04-14 08:39] MeetKamal commented on #124
Hi @Ocramius
Thanks for the update, it seems service manager upgraded now on local.
 - Upgrading laminas/laminas-servicemanager (3.11.1 => 3.11.2)

[2022-04-14 09:07] MeetKamal commented on #124
HI @Ocramius

Now all backend command executed, and it seems project setup . but when we go to front end its showing same error on front end

Fatal error: Uncaught ValueError: class_alias(): Argument #1 ($class) must be a user-defined class name, internal class name given in /var/www/html/m245/project-community-edition/vendor/laminas/laminas-servicemanager/src/autoload.php:1

[2022-04-14 09:18] MeetKamal commented on #124
Fatal error: Uncaught ValueError: class_alias(): Argument #1 ($class) must be a user-defined class name, internal class name given in /var/www/html/m245/project-community-edition/vendor/laminas/laminas-servicemanager/src/autoload.php:13 Stack trace: #0 /var/www/html/m245/project-community-edition/vendor/laminas/laminas-servicemanager/src/autoload.php(13): class_alias() #1 /var/www/html/m245/projec

[2022-04-15 08:19] MeetKamal commented on #124
HI @Ocramius

Please review above error and guide for the same

[2022-04-15 09:49] andrew-demb commented on #124
@MeetKamal latest versions of package is not compatible with `ext-psr`.
You should uninstall it from the server. Uninstalling from developer machines is not enough.

[2022-04-15 10:36] Ocramius commented on #124
Also, only run `composer install` on a system that is compatible (or same) to your production environment.

[2022-04-18 09:56] MeetKamal commented on #124
Thanks,  will try on another machine. Have tried the composer install but no luck

[2022-04-25 15:15] starred-gijs opened #128 "Cannot declare interface Interop\Container\Exception\NotFoundException, because the name is already in use"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 3.11
| PHP-FPM with opcache.preload enabled | 8.1.4
| Symfony  (with Runtime) | 5.4.7

#### Summary
After upgrading to version 3.11 Im getting all these E_WARNING messages in my logs and monitoring tools.  Im using Symfony 5.4 and FPM with opcache.preload enabled. When I disable preload the warning goes away.

[code]
A

[2022-04-25 15:23] Ocramius commented on #128
Duplicate of #124.

`ext-psr` is not compatible with the last version of this package, as declared in `composer.json`.

[2022-04-25 15:25] Ocramius commented on #128
Sorry, my mistake: seems like a completely different problem, and multitasking got me 🤦

[2022-04-25 15:26] Ocramius commented on #128
Does the crash manifest itself without preloading?

[2022-04-25 15:31] starred-gijs commented on #128
No worries.  I never heard of that psr extension, and I just double checked our php setup, its definitely not there.

When I disable opcache.preload the error is gone

[2022-04-26 12:10] Ocramius commented on #128
I think the eager autoloading configuration that we have in `composer.json` may be the issue here:

https://github.com/laminas/laminas-servicemanager/blob/3.11.2/composer.json#L68

I guess we could check their existence here: https://github.com/laminas/laminas-servicemanager/blob/3.11.2/src/autoload.php#L13

A bit worried if the preloader picked up another class elsewhere though. Also unsure how t

[2022-04-26 13:00] starred-gijs commented on #128
Yesterday changed my local version of that file with `class_exists` checks, but failed to realise these are actually interfaces. I just checked again but with `interface_exists` checks and now the issue is done. I looked at some other autoload files like polyfill and I see that all of them have checks eg https://github.com/symfony/polyfill/blob/v1.25.0/src/Apcu/bootstrap.php#L75

I can make a PR s

[2022-04-26 13:04] Ocramius commented on #128
That seems sensible: the difficult part is the test 😁

[2022-04-26 13:12] starred-gijs commented on #128
Yes I agree that will be difficult, because of the all the prerequisites that will show this error. Im not sure that will be worth the trouble.

[2022-04-26 17:32] mrVrAlex opened #130 "DI-like PHP Attributes (Autowiring feature)"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary
Hi!
We have MVP solution for autowiring (auto-generate PHP configs for service-manager): https://github.com/opsway/laminas-service-manager-attributes

It is looks like:

[code]
or even
[code]

It is solution help us decrease a lot human mistakes and  misconfigurat

[2022-04-26 18:08] Ocramius commented on #130
I'm personally not a fan of having DI happen via annotations, as it wires implementation with container definition, defeating its original purpose.

Still, did you see [bitexpert/disco](https://github.com/bitExpert/disco/tree/c3659ff55bb610cffb3a41fd5146d2d64fdf658f)? Should be close to your work...

[2022-04-26 19:21] froschdesign commented on #130
@shandyDev
Check also https://github.com/reinfi/zf-dependency-injection

[2022-05-11 14:20] boesing opened #131 "Feature: ServiceManager configuration validation"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

Whenever we are working in projects with own plugin managers (like laminas-validator, etc.), we do probably ignore the configuration structure which is fetched from the container.

https://github.com/laminas/laminas-validator/blob/bdd503adc83d814a5c94e598ea0eb9fc7ca56339/src/ValidatorPluginManagerFac

[2022-05-11 14:52] Ocramius commented on #131
Perhaps something like `cuyz/valinor` suffices? We already have most psalm types declared, AFAIK

[2022-05-11 21:03] boesing commented on #131
Not sure how good valinor works with array shapes.
But yes, we do have psalm types around.

Do you have an example on how you would use valinor to instantiate a `ServiceManager` or a `ValidatorPluginManager`?

[2022-05-11 21:22] Ocramius commented on #131
Would probably be something like:

[code]

The array shape should be validated this way, although I don't know how deep it can validate closures.

[2022-05-16 17:33] boesing commented on #131
Maybe passing over validation to the `Config` instance would work better.

So one has to use:

[code]

In case of the `laminas-validator` package and all the other packages (which are plenty) which do provide a plugin manager, having to use valinor to verify that the config is valid would be a no-go for me tho.

[2022-05-16 17:38] Ocramius commented on #131
We don't really have type-checking packages inside laminas: our validators are designed for checking HTTP input data (and similar), not in-memory object structures.

That's really the realm of more type-friendly tools (like in this case, valinor just being better at it).

I don't mind using other packages in general, but:

 1. no, please no more plugin managers: they hurt ;_;
 2. let's avoid addin

[2022-05-16 20:10] boesing commented on #131
Uhm, not sure if we are talking about the same.

- I do not want to add more plugin managers
- I do not want to use laminas-validator to validate a config

I just want to provide a proper flow for reading a config which can be extended by upstream projects (by Design) without the need of external tools. We do have 10+ existing plugin managers which will - at some time - use the latest servicemanag

[2022-05-16 20:15] Ocramius commented on #131
Do you have a more practical example of a required `@psalm-suppress`? I thought this was about runtime validation, rather than compile-time validation :|

[2022-05-17 06:22] boesing commented on #131
The example would be in the initial post. 1st link to an existing factory within laminas components.

Reading a config for the plugin manager from the application config and passing it to the constructor.

This actually only works because either there is no psalm in the validator component or the locked servicemanager version is below that version providing the array shape (or the error is already

[2022-05-17 09:34] Ocramius commented on #131
Hmm, adding that at runtime to general use seems wasteful 🤔

[2022-05-17 15:12] boesing commented on #131
Sure but how are we supposed to tell psalm that everything is correct then?

Because - the annotation is set. And thus something has to assert stuff. 🤷🏼‍♂️

[2022-05-17 15:15] Ocramius commented on #131
This is one of those cases where a leap of faith is required: adding runtime validation of a complex nested data structure has a huge performance impact (which I've already experienced with `cuyz/valinor` and `azjezz/psl`), so something like this should be opt-in.

I did have to do similar kind of "cuts" when dealing with ElasticSearch documents: the performance impact of checking the whole struct

[2022-05-17 20:17] boesing commented on #131
Mhm. Maybe having some kind of runtime validation for non-production environments might work?
So providing some kind of validation which can be disabled in prod which then just early returns but still provides `psalm-assert`?

Maybe disabled by default (to reflect current behavior) and enable in development to have runtime validation?

[2022-06-13 17:39] gsteel opened #139 "Plugin manager does not allow callable as extended template parameter"
https://github.com/laminas/laminas-servicemanager/blob/05ac4b1fb1fe9333313eeafced9b6c7946589487/src/AbstractPluginManager.php#L35

The `of object` part here causes psalm error `InvalidTemplateParam` when extending the Plugin Manager with `@extends AbstractPluginManager<MyType>` where MyType includes `callable` - I didn't expect that :(

Removing `callable` fixes the error, but it's not valid for p

[2022-06-13 19:32] boesing commented on #139
What plugin managers do return callables?

Plugin managers are designed to only return objects. Thats why the `get` and `build` methods do use that `validate` method.

Never seen any plugin manager within laminas which do return callables.

[2022-06-13 19:40] gsteel commented on #139
View Helper Plugin Manager…

TBH, this is just lack of psalm understanding on my part. I can just return/accept `MyType|callable` in method annotations - it's just nice not to have to do that!!

[2022-06-13 19:40] #139 closed, assigned to nobody

[2022-06-13 20:02] boesing commented on #139
Uff - was not aware that we have so much weird stuff in laminas 🙄

I actually have no time to wrap my head around this but if you want to bounce some ideas, let me know 👌🏻

[2022-06-13 20:33] gsteel commented on #139
Thanks @boesing - Having a crack at Validator rn, view is just getting plain ugly :|

[2022-06-28 15:19] LucasHantz commented on #128
Why was the MR #129 closed?
As stated in this tweet answered by Nikic relating to the issue of the class_alias they should be conditional as all other libraries did this change. https://mobile.twitter.com/nikita_ppv/status/1208025415253659648

Please make this change to avoid warning in project that depends on other laminas libraries.

[2022-06-28 15:26] Ocramius commented on #128
@LucasHantz I think @starred-gijs deleted their repository? Github is not saying why the PR was closed, or who did it, but interestingly, your mention comes **before** the deletion event, according to Github itself :thinking:

Anyway, if you feel like it is necessary, please open a new patch (can take same commits, if needed).

[2022-06-28 16:02] boesing commented on #128
We need to find out if the `class_alias` made by whatever library is actually the same alias we are expecting it to be.

Because one can also point `container-interop` via `class_alias` to any other interface which is compliant with PSR-11 and thus must not currently be `Psr\Container\ContainerInterface`, etc.

So this works perfectly but that will break applications if they expect that to be a PS

[2022-06-29 07:44] starred-gijs commented on #128
I deleted the repo and the PR was closed. I re-created the PR to help the discussion.

[2022-06-29 08:01] #128 closed, assigned to Ocramius

[2022-07-20 07:40] remicollet opened #146 "psr/container v2 breaks other components"
Since v2 is allowed, example for laminas-inputfilter

[code]

And then

[code]

Other components may be affected (laminas-hydrator, laminas-servicemanager-di)
despite these have no direct dependency on psr/container

[2022-07-20 07:41] Ocramius commented on #146
Indeed, seen in https://github.com/laminas/laminas-feed/pull/59

It's generally super-annoying, so we're thinking of rolling back `psr/container:^2` support :-\

[2022-07-20 07:55] Ocramius commented on #146
Meanwhile, configuring renovate on `laminas-inputfilter`, so this bug pops up in a PR tomorrow morning.

[2022-07-20 08:02] Ocramius commented on #146
Hmm, I think `Double\ContainerInterface\P8::has()` is just broken here: should always have returned a boolean.

Will adjust.

[2022-07-20 08:48] Ocramius commented on #146
Closing here, fixed in `laminas-inputfilter`.

Although the issue with `psr/container:^2` exists elsewhere, it no longer exists on this specific case.

Please report other failures as you encounter them :+1:

[2022-07-20 08:48] #146 closed, assigned to Ocramius

[2022-07-20 09:42] Ocramius commented on #146
Ref: https://github.com/laminas/laminas-servicemanager/pull/147

[2022-07-20 09:50] Ocramius commented on #146
https://github.com/laminas/laminas-servicemanager/releases/tag/3.15.1 should fix this: sad to see that work reverted, but our hopes that it would work were unfounded.

[2022-08-06 09:34] AkashicSeer commented on #124
Can I say I am not shocked this was never fixed. Does anything work these days at all?

[2022-08-06 09:49] Ocramius commented on #124
@AkashikSeer we explicitly declared a conflict with `ext-psr`: it is up to you to either downgrade this package, or uninstall `ext-psr`. This issue is 100% solved from this end.

[2022-08-09 07:24] AkashicSeer commented on #124
Sorry thanks.. I found out it was a framework I was using. I had to go all
the way to the frameworks github page and clone it just so I could run
composer install and upgrade because there was no friggin composer file in
the download. I had tried downloading it because the composer line they
gave to install it returns that it couldn't be found FFS😡 So

So I eventually googled to find their repo so

[2022-08-09 07:45] fabiang commented on #44
Just a side note for the one who will implement this, the return-type of `Laminas\ServiceManager\Factory\FactoryInterface::__invoke()` is currently declared as `@return object`, but even in real-world application `__invoke()` could return everything (even scalars).
So `mixed` is the correct return-type here. One example is `Laminas\Mvc\Service\ConfigFactory::__invoke()` which returns `iterable`.

[2022-08-12 10:02] JoyceBabu opened #150 "This is not working with ext-psr"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.16

#### Summary

This is not working with [PSR pecl extension](https://pecl.php.net/package/psr), which is at version 1.2

#### Current behavior

Installation fails with error
[code]

#### How to reproduce

1) ```pecl install psr```
2) ```composer require laminas/laminas-servicemanager  ```

#### Expected behavior

Shoul

[2022-08-12 10:05] Ocramius commented on #150
That is an intentional choice. Refs:

https://github.com/laminas/laminas-servicemanager/blob/f32cdaea6dcba17b5701e46455a80ce4006970cb/composer.json#L56

https://github.com/laminas/laminas-servicemanager/blame/f32cdaea6dcba17b5701e46455a80ce4006970cb/composer.json#L56

https://github.com/laminas/laminas-servicemanager/commit/2ca79274c34ae2223ccdbe8f5fe5f4b7bff82d64

https://github.com/laminas/lamin

[2022-08-12 10:05] #150 closed, assigned to Ocramius

[2022-09-13 09:10] #107 closed, assigned to nobody

[2022-09-22 10:16] InvisibleSmiley opened #153 "Allow PHPStan to understand conditional return types with generics"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | no

#### Summary

PHPStan does not understand some conditional return types which involve generics. As a result, the inferred return type is "object" rather than the class of the input parameter class-string.

Corresponding PHPStan issue: https://github.com/phpstan/phpstan/issues/8

[2022-09-22 10:18] Ocramius commented on #153
Could you rephrase, please?

[2022-09-22 10:19] InvisibleSmiley commented on #153
Looks like you cannot simply put something in angle brackets here ;) Edited summary accordingly.

[2022-09-22 10:21] Ocramius commented on #153
Aha... could you suggest a patch perhaps? Me and @gsteel are usually quick at picking these up, if valid :)

[2022-09-22 10:38] InvisibleSmiley commented on #153
Opened a PR against 3.12.x where this was first introduced.
Not sure how to link the PR to this issue though.

[2022-09-22 11:05] Ocramius commented on #153
If it's an improvement, we'll target a later branch: not a problem to retarget though, we can do it, after review  :)

[2022-09-22 11:33] #153 closed, assigned to Ocramius

[2022-10-14 10:54] Slamdunk opened #158 "Check that aliases work for every ServiceManager feature"
See https://github.com/laminas/laminas-form/pull/193#discussion_r995622387

A test shold be added to ensure that Factories, Abstract Factories, Delegators, Initializers, Services and so on work well with alias and aliased references when an alias is in place

[2022-10-21 09:42] rieschl opened #159 "Second param of `ServiceManager::setFactory` doesn't accept a `class-string` of a callable class"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.17.0

#### Summary

When calling `\Laminas\ServiceManager\ServiceManager::setFactory` the `@psalm-param` [declaration](https://github.com/laminas/laminas-servicemanager/blob/a54c36e6fd81ba10c94f123e307c4cefd94b1d72/src/ServiceManager.php#L401) of the `$factory` param requires that the `class-string` implements the `\Lamin

[2022-11-04 14:37] brotkrueml commented on #92
I am using the laminas-feed package for generating feeds in a TYPO3 extension. The laminas-feed package depends on laminas-servicemanager. Now the upcoming TYPO3 version requires psr/container in version 2 which conflicts with this package requirement of psr/container. So, is there a foresight when this package will be compatible with psr/container v2? By now, I only have the choice to abandon the

[2022-11-04 14:38] Ocramius commented on #92
I'd say that we need to release a new major for that: no way around it, IMO.

That could also be the only BC break, TBH.